.mechanics {
    padding: 0 12% 1% 12%;

    .mechanics-title {
        display: flex;
        justify-content: center;
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    .mechanics-text {
        .text {
            display: grid;
            justify-content: center;
            margin-bottom: 25px;

            span {
                margin-bottom: 5px;
            }
        }
    }

    .mechanics-content {
        .composit {
            .composit-content {
                display: grid;
                justify-content: center;
                grid-template-columns: 400px 400px 400px;

                .text-list-element {
                    .title {
                        display: grid;
                        justify-content: center;
                        font-size: 25px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    .image-display {
                        display: grid;
                        justify-content: center;

                        img {
                            width: 320px;
                            height: 180px;
                        }

                    }

                    .element {
                        padding: 0 10% 0 10%;

                        li {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}