.header-wrapper {
    flex: none;

    --bs-gutter-x: 1.5rem;
    padding-left: calc(var(--bs-gutter-x)* .5);

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 12%, rgba(0, 212, 255, 1) 48%, rgba(2, 0, 36, 1) 83%);

    border-bottom: solid;
    border-bottom-color: teal;
}

.navbar {
    padding-top: 0;
}

.header-bottom-background-color {
    background-color: black;
}

.color-name {
    color: #0a8ecf;
}

.color-title {
    color: white;
}

.nav-link {
    color: white;
    height: 100%;
}

.display-block {
    display: block;
}

.flex-row {
    flex-direction: row;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-menu-color {
    background-color: black;
    color: white;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: grey;
}

.dropdown:hover {
    /*Without this, clicking will make it sticky*/
    background-color: grey;
}

@media screen and (max-width: 580px) {
    .header-title {
        color: lightgreen !important;
    }

    .dropdown-menu {
        position: absolute;
    }

    .nav-item {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x)* .5);
        padding-left: calc(var(--bs-gutter-x)* .5);
        margin-right: auto;
        margin-left: auto;
    }
}