<header>
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light fixed-top display-block bg-white">
        <div class="header-wrapper">
            <h2 class="color-name">Dário Jorge</h2>
            <h3 class="color-title">Programmer Of Applications</h3>
        </div>
        <div #headContainerSize class="container-fluid header-bottom-background-color">
            <div id="navBar">
                <ul class="navbar-nav me-auto flex-row">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link">Projects</a>
                        <ul class="dropdown-menu dropdown-menu-color">
                            <li *ngFor="let project of projects;">
                                <a class="dropdown-item" aria-current="page" routerLink="/project/{{ project.pageId }}" routerLinkActive="active">{{ project.title }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link">Personal Projects</a>
                        <ul class="dropdown-menu dropdown-menu-color">
                            <li *ngFor="let personalProject of personalProjects;">
                                <a class="dropdown-item" aria-current="page" routerLink="/personalProject/{{ personalProject.pageId }}" routerLinkActive="active">{{ personalProject.title }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/resume" routerLinkActive="active">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/about" routerLinkActive="active">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>