<header>
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light fixed-top display-block bg-white">
        @if (headerWrapper !== undefined) {
        <div class="header-wrapper">
            <div>
                <h2 class="color-name">{{headerWrapper.name}}</h2>
                <h3 class="color-title">{{headerWrapper.position}}</h3>
            </div>
            <div class="icons">
                @for (media of headerWrapper.medias; track media.mediaLink) {
                <a target="_blank" href="{{media.mediaLink}}">
                    <img src="assets/media/{{media.mediaImg}}" />
                </a>
                }
            </div>
        </div>
        <div #headContainerSize class="container-fluid header-bottom-background-color">
            <div id="navBar">
                <ul class="navbar-nav me-auto flex-row">
                    @for (projects of headerWrapper.secctions; track projects.title) {
                    @if(projects.pages !== undefined) {
                    <li class="nav-item dropdown">
                        <a class="nav-link">{{projects.title}}</a>
                        <ul class="dropdown-menu dropdown-menu-color">
                            @for (project of projects.pages; track project.pageId) {
                            <li>
                                <a class="dropdown-item" aria-current="page"
                                    routerLink="/{{ projects.pathSegment }}/{{ project.pageId }}"
                                    routerLinkActive="active">{{ project.title }}</a>
                            </li>
                            }
                        </ul>
                    </li>
                    } @else {
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" routerLink="/{{projects.pageId}}"
                            routerLinkActive="active">{{projects.title}}</a>
                    </li>
                    }
                    }
                </ul>
            </div>
        </div>
        }
    </nav>
</header>