<div class="content" [ngStyle]="{'padding-top': headerSize + 'px'}">
    @if (projectModel !== undefined) {
    <app-play-button [playButtonUrl]="playButton"></app-play-button>
    <app-play-video [playVideo]="playVideo"></app-play-video>
    <hr>
    <app-project-description [projectDescription]="projectDescription"></app-project-description>
    <hr>
    <app-playstation-talents-award [playstationTalentsAwards]="playstationTalentsAwards"></app-playstation-talents-award>
    <hr>
    <app-contribuitions [contributions]="contributions"></app-contribuitions>
    <hr>
    <app-gameplay [gameplay]="gameplay"></app-gameplay>
    <hr>
    <app-mechanics [mechanics]="mechanics"></app-mechanics>
    <hr>
    <app-game-concept [gameConcept]="gameConcept"></app-game-concept>
    <hr>
    <app-gameplay-narrative-progression [gameplayNarrativeProgression]="gameplayNarrativeProgression"></app-gameplay-narrative-progression>
    <hr>
    <app-problems-solutions [problemsSolutions]="problemsSolutions"></app-problems-solutions>
    <hr>
    <app-guidance [guidance]="guidance"></app-guidance>
    }
</div>