.play-button {
    padding: 0 12% 1% 12%;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-self: center;
    align-self: center;
}