<div class="contribution-content">
    <span class="contribution-title">{{projectContribution().title}}</span>
    <div class="contribution-content">
        <div>
            <span class="title">{{projectContribution().gameplayDesign.title}}</span>
            <app-text-list [textList]="projectContribution().gameplayDesign.list" [textType]="TextTypeEnum.NORMAL"></app-text-list>
        </div>
        <div>
            <span class="title">{{projectContribution().productOwner.title}}</span>
            <app-text-list [textList]="projectContribution().productOwner.list" [textType]="TextTypeEnum.NORMAL"></app-text-list>
        </div>
        <div>
            <span class="title">{{projectContribution().other.title}}</span>
            <app-text-list [textList]="projectContribution().other.list" [textType]="TextTypeEnum.NORMAL"></app-text-list>
        </div>
    </div>
</div>