.contribution-content {
    padding: 0 12% 1% 12%;

    .contribution-title {
        display: flex;
        justify-content: center;
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .title {
        font-weight: bold;
    }
    
    .contribution-content {
        display: grid;
        justify-content: center;
        grid-template-columns: 400px 400px 400px;
    }
}