.professional-projects {
    padding: 0 12% 1% 12%;

    .professional-projects-title {
        display: flex;
        justify-content: center;
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    .professional-projects-text {
        margin-bottom: 25px;
    }

    .professional-projects-content {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;

        .show-case-content {
            margin-bottom: 10px;
            width: 980px;
            height: 301px;

            .show-case-container {
                position: relative;
                display: flex;
                justify-content: center;

                border-color: rgb(0, 0, 0);
                border-style: solid;
                border-width: 3px;
                border-radius: 0px;

                background-color: transparent;
                background-size: auto;
                background-repeat: no-repeat;
                height: 100%;

                .lower-left-card {
                    left: 15px;
                    bottom: 15px;
                }

                .upper-right-card {
                    right: 0;
                    top: 0;
                }

                .img {
                    height: 100%;
                    width: 100%;
                    cursor: pointer;
                }

                a:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                    z-index: 10;
                }
            }
        }
    }
}