<div class="gameplay-content">
    <span class="gameplay-title">{{projectGameplay().intro.title}}</span>
    <div class="gameplay-content">
        <div>
            <app-text-list [textList]="projectGameplay().intro.text" [textType]="TextTypeEnum.NORMAL"></app-text-list>
        </div>
        <div class="image">
            <img src="assets/{{projectGameplay().content.images[0].path}}" />
        </div>
        <div class="core-loop-text">
            <span>{{projectGameplay().content.title}}</span>
        </div>
        <div class="core-loop-img">
            <img src="assets/{{projectGameplay().content.images[1].path}}" />
        </div>
    </div>
</div>