.contributions {
    padding: 0 12% 1% 12%;

    .contributions-title {
        display: flex;
        justify-content: center;
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    .contributions-content {
        .composit {
            .composit-content {
                display: grid;
                justify-content: center;
                grid-template-columns: 300px 300px 300px;

                .text-list-with-dots {
                    span {
                        font-size: 25px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}