.contribuition-content {
    .column-style {
        display: grid;
        justify-content: center;
        grid-template-columns: 300px 300px 300px;

        .text-list-with-dots {
            span {
                font-size: 25px;
                font-weight: bold;
            }
        }
    }
}