<div class="content" [ngStyle]="{'padding-top': headerSize + 'px'}">
    @if (projectDetailWrapperModel !== undefined) {
    <!-- <app-project-trailer [projectTrailer]="projectDetailWrapperModel.projectTrailer"></app-project-trailer> -->
    <hr>
    <app-project-info [projectInfo]="projectDetailWrapperModel.projectInfo"></app-project-info>
    <hr>
    <app-project-contribution
        [projectContribution]="projectDetailWrapperModel.projectContribution"></app-project-contribution>
    <hr>
    <app-project-gameplay [projectGameplay]="projectDetailWrapperModel.projectGameplay"></app-project-gameplay>
    <hr>
    <app-project-mechanics [projectMechanics]="projectDetailWrapperModel.projectMechanics"></app-project-mechanics>
    <hr>
    <app-project-gameplay-progression
        [projectGameplayProgression]="projectDetailWrapperModel.projectGameplayProgression"></app-project-gameplay-progression>
    }
</div>