<div [class]="gameplayNarrativeProgression().id">
    <span [class]="gameplayNarrativeProgression().id + '-title'">{{gameplayNarrativeProgression().title}}</span>
    <div [class]="gameplayNarrativeProgression().id + '-text'">
        <app-text [text]="gameplayNarrativeProgression().text"></app-text>
    </div>
    <div [class]="gameplayNarrativeProgression().id + '-content'">
        <app-content [contentList]="gameplayNarrativeProgression().content" [type]="gameplayNarrativeProgression().type"
            [id]="gameplayNarrativeProgression().id"></app-content>
    </div>
</div>