.carousel-item {
    img {
        height: 600px;
    }
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-inner .carousel-item {
    transition: transform 1s ease;
}