.carousel-item {
    img {
        height: 600px;
    }
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-item-next,
.active.carousel-item-end {
  transform: translateX(100%);
  transition-duration: 0.5s;
}

.carousel-item-prev,
.active.carousel-item-start {
  transform: translateX(-100%);
  transition-duration: 0.5s;
}