@switch (type()) {
    @case (contentTypeEnum.DOTS) {
        <div class="dots">
            <app-text-list-element [content]="content()!"></app-text-list-element>
        </div>
    }
    @case (contentTypeEnum.NO_DOTS) {
        <div class="no-dots">
            <app-text-list-element [content]="content()!"></app-text-list-element>
        </div>
    }
    @case (contentTypeEnum.IMAGE_DISPLAY_ALL_01) {
        <app-image-display-all-01 [images]="contentList()"></app-image-display-all-01>
    }
    @case (contentTypeEnum.IMAGE_DISPLAY_ALL_02) {
        <div class="image-display-all-02">
            @for (image of contentList(); track image) {
                <div [class]="'image-display-' + image.id">
                    <img src="assets/{{image.path}}" />
                </div>
            }
        </div>
    }
    @case (contentTypeEnum.CAROUSEL) {
        <app-carousel [imageList]="contentList()" [id]="id() ?? 'carouselControls'"></app-carousel>
    }
    @case (contentTypeEnum.COMPOSIT_CONTENT) {
        <div class="composit">
            @for (contentData of contentList(); track contentData) {
                @if(contentData?.title) {
                    <div class="composit-title">
                        <span>{{contentData?.title}}</span>
                    </div>
                }
                @if(contentData?.path) {
                    <div [class]="'composit-image-display-' + contentData.id">
                        @if(contentData?.description) {
                            <img appImageCalculator #varWithDirective="widthDirective" [class]="'composit-image-' + contentData.id" src="assets/{{contentData.path}}" />
                            <div [class]="'composit-image-description-' + contentData.id" [style]="'width:' + varWithDirective.imageWidth + 'px'">
                                <span>{{contentData.description}}</span>
                            </div>
                        } @else {
                            <img [class]="'composit-image-' + contentData.id" src="assets/{{contentData.path}}" />
                        }
                    </div>
                }
                @if(contentData?.text) {
                    <div class="composit-text">
                        <app-text [text]="contentData!.text"></app-text>
                    </div>
                }
                @if(contentData?.content) {
                    <div class="composit-content">
                        @for (content of contentData.content; track content) {
                            <app-content [content]="content" [type]="content!.type"></app-content>
                        }
                    </div>
                }
                @if(contentData?.table) {
                    <div class="composit-table">
                        <app-table [table]="contentData.table"></app-table>
                    </div>
                }
            }
        </div>
    }
    @case (contentTypeEnum.SHOW_CASE_01) {
        <div class="show-case-01">
            @if(contentList()) {
                @for (contentData of contentList(); track contentData) {
                    <div class="show-case-content">
                        <div class="show-case-container" [ngStyle]="contentData.path ? {'background-image': 'url(assets/' + contentData.path + ')'}  : {'background-color': 'blue'}">
                            <a class="img" routerLink="/project/{{ contentData.pageId }}" routerLinkActive="active"></a>
                            <div class="composit-content">
                                @for (content of contentData.content; track content) {
                                    @if(content.type) {
                                        <app-content [content]="content" [type]="content.type"></app-content>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
    @case (contentTypeEnum.SHOW_CASE_02) {
        <div class="show-case">
            @if(contentList()) {
                @for (contentData of contentList(); track contentData) {
                    <div class="show-case-container">
                        @if(contentData.path) {
                            <div class="image-display">
                                <img src="assets/{{contentData.path}}" />
                            </div>
                        }
                        <div class="show-case-content">
                            @if(contentData?.title) {
                                <div class="title">
                                    <span>{{contentData?.title}}</span>
                                </div>
                            }
                            @if(contentData?.content) {
                                @for (content of contentData.content; track content) {
                                    @if(content?.text) {
                                        <div class="text">
                                            <app-text [text]="content.text"></app-text>
                                        </div>
                                    }
                                    @if(content?.playButton) {
                                        <app-play-button [playButtonUrl]="content.playButton"></app-play-button>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <!-- <app-show-case-02 [content]="contentData"></app-show-case-02> -->
                }
            }
        </div>
    }
    @case (contentTypeEnum.UPPER_RIGHT_CARD) {
        <app-upper-right-card [content]="content()!"></app-upper-right-card>
    }
    @case (contentTypeEnum.LOWER_LEFT_TITLE) {
        <app-lower-left-card [content]="content()!"></app-lower-left-card>
    }
    @default {
      Default case.
    }
}