<div [class]="playstationTalentsAwards().id">
    <span [class]="playstationTalentsAwards().id + '-title'">{{playstationTalentsAwards().title}}</span>
    <div [class]="playstationTalentsAwards().id + '-text'">
        <app-text [text]="playstationTalentsAwards().text"></app-text>
    </div>
    <div [class]="playstationTalentsAwards().id + '-content'">
        <app-content [contentList]="playstationTalentsAwards().content" [type]="playstationTalentsAwards().type"
            [id]="playstationTalentsAwards().id"></app-content>
    </div>
</div>