.project-description {
    padding: 0 12% 1% 12%;

    .project-description-title {
        display: flex;
        justify-content: center;
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    .project-description-text {
        margin-bottom: 25px;
    }

    .project-description-content {
        .composit {
            display: grid;
            justify-content: center;
            grid-template-columns: 400px 400px;

            .composit-text {
                .text {
                    display: grid;
                    justify-content: center;

                    span {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}