<div class="content" [ngStyle]="{'padding-top': headerSize + 'px'}">
    @if (projectWrapper !== undefined) {
    <section class="home-introdution">
        <h4>{{projectWrapper.secctions.introduction.title}}</h4>
        <p>{{projectWrapper.secctions.introduction.description}}</p>
    </section>

    <section class="projects">
        <span class="title">{{projectWrapper.secctions.projects.title}}</span>
        <div class="projects-content">
            @for (project of projectWrapper.projects; track project.pageId) {
            <div class="projects-content">
                <p class="label">
                    {{project.title}}
                </p>
                <div class="projects-container">
                    <a aria-current="page" routerLink="/project/{{ project.pageId }}" routerLinkActive="active">
                        <img src="assets/{{project.imgPath}}" width="800" height="300" />
                    </a>
                    <div class="description">
                        <p>{{project.description}}</p>
                        <p>{{project.details.engine}}</p>
                        <p>{{project.details.studio}}</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </section>

    <section class="personal-projects">
        <span class="title">{{projectWrapper.secctions.personalProjects.title}}</span>
        <p>{{projectWrapper.secctions.personalProjects.description}}</p>
        <div class="personal-projects-content">
            @for (personalProject of projectWrapper.personalProjects; track personalProject.pageId) {
            <div>
                <div class="img">
                    <a aria-current="page" routerLink="/project/{{ personalProject.pageId }}" routerLinkActive="active">
                        <img src="assets/{{personalProject.imgPath}}" width="275" height="275" />
                    </a>
                </div>
            </div>
            }
        </div>
    </section>

    <section class="other-projects">
        <span class="title">{{projectWrapper.secctions.otherProjects.title}}</span>
        <p>{{projectWrapper.secctions.otherProjects.description}}</p>
        <div>
            @for (otherProject of projectWrapper.otherProjects; track otherProject.pageId) {
            <div class="other-projects-content">
                <div class="img">
                    <a aria-current="page" routerLink="/project/{{ otherProject.pageId }}" routerLinkActive="active">
                        <img src="assets/{{otherProject.imgPath}}" width="127" height="55" />
                    </a>
                </div>
                <div>
                    <p>{{otherProject.description}}</p>
                    <p>{{otherProject.details.engine}}</p>
                    <p>{{otherProject.details.studio}}</p>
                </div>
            </div>
            }
        </div>
    </section>
    }
</div>