<div class="table-content">
    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                @for(header of table().headers; track header) {
                <th scope="col">{{header}}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for(body of table().body; track body) {
            <tr>
                @for(row of body; track row) {
                <th scope="row">{{row}}</th>
                }
            </tr>
            }
        </tbody>
    </table>
</div>