.gameplay-progression-content {
    padding: 0 12% 1% 12%;

    .gameplay-progression-title {
        display: flex;
        justify-content: center;
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .gameplay-progression-content {
        display: grid;
        justify-content: center;

        .image {
            display: flex;
            justify-content: center;
            padding-top: 20px;

            img {
                width: 300px;
                height: 300px;
            }
        }

        .carousel-item {
            img {

                height: 600px;
            }
        }

        .carousel-control-next,
        .carousel-control-prev {
            filter: invert(100%);
        }
    }
}